<%unless params[:xml_file_name].blank? || params[:id].blank? %>
 <div class="container form-horizontal" style="padding-bottom: 20px; padding-top: 20px;"> 
	<%= form_tag url_for(), method: "get" do |f| %>
	  <%= hidden_field_tag  :xml_file_name, params[:xml_file_name] %>
	  <%= hidden_field_tag  :id, params[:id] %>
      <div class="col-md-3">
	  <%= text_field_tag  :filter, params[:filter], placeholder: "Enter x-path", :class => "form-control" %>
	  </div>
	  <%= radio_button_tag :display_type, "filter", :selected => true %><lable> Filter </lable>
	  <%= radio_button_tag :display_type, "highlight" %><lable> Highlight </lable><br><br>
	  <%= link_to 'Back', uplaod_zip_file_path(@upload_zip_file), :class => "btn btn-primary" %>
	  <input type="submit" class="btn btn-primary">
	<%end%>

	<% if params[:display_type] != "highlight"%>
		<% @content.each do |c| %>
		  <%= c %><br><br>
		<%end%>
	<%else%>

		<% @doc.to_s.split('<'+@random_string+'/>').each_with_index do |s, i|%>
			<% c =  i>0 ? @content[i-1] : "" %>
			<%= s.sub!(c, "")%>
			<div style="background-color: yellow;margin:10px"><%= @content[i] %></div>
		<%end%>
	<%end%>
</div>
<%end%>